.titlelist{
    padding: 20px;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, 141414 100%, rgba(34, 31, 31, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #141414 100%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    /* IE6-9 */
    height: 100%;
    position: relative;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    
}
.titlelist .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1em;
    color: white;
}
.titles-wrapper{
    display: flex;
    justify-content: space-between;
}