.header_img{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    transform: none;
}
.header_nav{
    margin: 0px 40px;
}

.language{
    margin-right: 30px;
}
.language i{
    font-size: 15px;
    margin-right: 5px;
}
